@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-image: url(../src/assets/تصميم_بدون_عنوان-removebg-preview.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size:80%;
   background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap');

